@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Birthday.ViewModels.VotingViewModel>


@{
    var currentUserId = UserManager.GetUserId(User);
    ViewData["Title"] = "Index";
}

<h4 class="votingCenter">Votings</h4>
<p>
    <a asp-action="Create">Create New Voting</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CelebratorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="votingsRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CelebratorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VotingStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminName)
                </td>
                <td>
                    @if (item.AdminId == currentUserId)
                    {
                        <a asp-action="Delete" asp-route-id="@item.VotingId">Delete</a><span> |</span>
                        <a asp-action="Edit" asp-route-id="@item.VotingId">Activate Voting</a><span> |</span>
                    }
                    <a id="openVote" asp-action="Details" asp-route-id="@item.VotingId"><b>Votе Here</b></a>
                </td>
            </tr>
        }
    </tbody>
</table>


